#boardContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
}


div.boardRow {
  display: flex;
}

.boardPiece{
    background-color: rgb(38, 29, 69);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.orb-row {
  display: flex;
  gap: 5px;
  width: fit-content;
}